*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: right;
    position: relative;
    font-size: 1.5rem;
    
}
#navbar::before{
    content: "";
    background-color: #171721;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;

}
#navbar li{
    list-style: none;
    margin-right: 70px;
}
#navbar a{
    color: white;
    padding-left: 25px;
    text-decoration: none;
}
#header{
    position: relative;
    width: 100%;
    height: 80vh;
}
#header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://1.bp.blogspot.com/-ACTFpyFGKtE/XxGzHGIkCnI/AAAAAAAA1Gw/oIkWkeoD-yEIG4cRJJP3ec96AwllNv5EgCLcBGAsYHQ/s2560/yellow-material-design-abstract-8k-8u-3840x2160.jpg) center center no-repeat;
    /* background-color: yellowgreen; */
    z-index: -1;
    opacity: 1;
}
#Home{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
#img{
    height: 500px;
    width: 510px;
    position: relative;
    justify-content: center;
    display: flex;
    
    /* border-radius: 50%; */
}
.img{
    height: 200px;

}
.data{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    /* justify-content: center; */
    padding: 50px;
    width: 700px;
    text-align: left;
    /* margin: 0px 90px; */
}
.data h1{
    font-size: 3.5rem;
    padding: 10px 0;
}
.data h3{
    font-size: 1.5rem;
}
.data p{
    font-size: 1.5rem;
}
#About{
    display: flex;
    
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    justify-content: space-around;
    align-items: center;
    /* color: black; */
}
.photo{
    border: 10px solid  rgb(199 189 183);
}
.photo img{
    width: 400px; 
    height: 400px;
    background-color: #171721;

}
.about{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about h1{
    margin-bottom: 15px;
    font-size: 2.5rem;
}
.about p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.div{
    display: flex;
    margin-top: 10px;
    /* justify-content: space-around; */
}
.q{
    padding-left: 100px;
}
.a h4{
    padding-top: 3px;
}
.a{
    margin-left: 50px;
}
.about button{
    margin-top: 25px;
    /* margin-left: 30px; */
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
#skills{
    background-color: aqua;
    width: 100%;
    height: 500px;

}
.softskills{
    display: grid;
    grid-template-columns:
    1fr 1fr;
}
.skill{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid black;
}