*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: right;
    position: relative;
    font-size: 1.5rem;
    
}
#navbar::before{
    content: "";
    background-color: #171721;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;

}
#navbar li{
    list-style: none;
    margin-right: 70px;
}
#navbar a{
    color: white;
    padding-left: 25px;
    text-decoration: none;
}
#header{
    position: relative;
    width: 100%;
    height: 80vh;
}
#header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://1.bp.blogspot.com/-ACTFpyFGKtE/XxGzHGIkCnI/AAAAAAAA1Gw/oIkWkeoD-yEIG4cRJJP3ec96AwllNv5EgCLcBGAsYHQ/s2560/yellow-material-design-abstract-8k-8u-3840x2160.jpg) center center no-repeat;
    /* background-color: yellowgreen; */
    z-index: -1;
    opacity: 1;
}
#Home{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
#img{
    height: 500px;
    width: 510px;
    position: relative;
    justify-content: center;
    display: flex;
    
    /* border-radius: 50%; */
}
#img svg{
    width: 300px;
    height: 300px;
}
.img{
    height: 200px;

}
.data{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 50px;
    width: 700px;
    text-align: left;
    color: white;
}
.data h1{
    font-size: 3.5rem;
    padding: 10px 0;
}
.data h3{
    font-size: 1.5rem;
}
.data p{
    font-size: 1.5rem;
}
#About{
    display: flex;
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    justify-content: space-around;
    align-items: center;
    /* color: black; */
}
.photo::before{
    content: "";
    position: absolute;
    /* top: 5px; */
    width: 405px;
    height: 405px;
    border-right: 5px solid  rgb(199 189 183);
    border-bottom: 5px solid  rgb(199 189 183);
    transform: 0.3s;
}
.photo img{
    width: 400px; 
    height: 400px;
    background-color: #171721;

}
.about{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about h1{
    
    margin-bottom: 15px;
    font-size: 2.5rem;
}
.about p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.div{
    display: flex;
    margin-top: 10px;
}
.q{
    padding-left: 100px;
}
.a h4{
    padding-top: 3px;
}
.a{
    margin-left: 50px;
}
.about button{
    margin-top: 25px;
    /* margin-left: 30px; */
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
.about button a{
    color: white;
    text-decoration: none;
}
#skills{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
    align-items: center;
    justify-content: center;
}
#skills h1{
    font-size: 2.5rem;
}
#bigbox{
    /* margin: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 1300px;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    color: black;
}
.box img{
    width: 280px;
    height: 250px;
}
#box8 img{
    width: 350px;
}
#box9 img{
    border-radius: 30px;
}
#Resume{
    width: 100%;
    height: 800px;
}
.resume_1{
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 600px;
}
.resume_box{
    margin-top: 15px;
    margin-left: 40px;
}

.resume_box h1{
    margin-top: 15px;
    margin-left: 40px;
    font-size: 2.3rem;
}
.resume_box h2{
    margin-top : 15px;
    margin-bottom: 10px;
}
.resume_box ul{
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 15px;
}
.Resume_education {
    margin-top: 20px;
    margin-left: 40px; 
}
.Resume_education h1{
    margin-bottom: 20px;
    font-size: 2rem;
}
.Resume_education h2{
    font-size: 1.9rem;
}
.Resume_additional{
    margin-left: 40px;
    margin-top: 15px;
}
.Resume_additional h1{
    font-size: 2rem;
}
.Resume_additional p{
    margin-left: 10px;
    
}
.year{
    margin-top: 10px;
    margin-bottom: 10px ;
    background-color: cornflowerblue;
    width: 80px;
    height: 20px;
}
.Resume_experience{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.Resume_experience h1{
    font-size: 2rem;    
}
.Resume_skills{
    margin-left: 40px;
}
.Resume_skills h1{
    font-size: 2rem;
}
.Resume_skills ul{
    margin-left: 30px;
}
#Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 400px;
    width: 80%;
    /* background-color: pink; */
}
#Contact h1{
    font-size: 3rem;
}
.contact_box{
    display: flex;
    /* flex-direction: column; */
}
.contact_box input{
    display: flex;
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 8px;
    padding-left: 5px;
}
.message{
    margin-left: 20px;
    font-size: 2rem;
}
.contact_box1 label{
    font-size: 1.7rem;
}
.contact_box1{
    padding-top: 10px;
    padding-right: 40px;
}
.contact_box2{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.contact_box2 #message{
    margin-top: 10px;
}
/* #Message{
    width: 400px;
    height: 250px;
    
} */
#submit{
    margin-top: 15px;
    margin-left: 10px;
    width: 405px;
    height:25px;
    border-radius: 10px;
}
#copyright{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}
