/* nav section  */
#navbar{
    justify-content: center;
    font-size: 1rem;
}

/* Home Section  */
#Home{
    flex-direction: column;
}
#header{
    /* width: 100%; */
    height: 650px;
}
#img{
    margin-top: -80px;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.data{
    width: 100%;
    margin-top: -45px;
    padding: 10px; 
    justify-content: center;
    align-items: center;
}
.data h1{
    font-size: 1.5rem;
}
.data h2{
    font-size: 1rem;
}
.data p{
    font-size: 1rem;
}
/* About Section  */


#About{
    height: 600px;
}


.about h1{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.q{
    padding-left: 0px;
}
.a h4{
    padding-top: 7px;
}
.a{
    margin-left: 10px;
}
.about p{
    font-size: 1rem;
    margin-bottom: 5px;
}
.photo img{
    height: 150px;
    width: 150px;
}
.photo::before{
    width: 155px;
    height: 155px;
}


/* Skills Section  */
#bigbox{
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    
}
#skills h1{
    font-size: 1.5rem;
}
#bigbox{
    margin-left: -150px;
}
.box{
    width: 200px;
    height: 200px;
    margin-left: 10px;
}
.box img{
    width: 150px;
    height: 120px;
}
#box8 img{
    /* margin-left: -45px; */
    width: 200px;
}
#box9 img{
    margin-left: 19px;
}


/* Resume   Section */
#Resume{
    width: 100%;
    height: 900px;
}
.resume_1{
    margin-left: 25px;
}

/* Contact section */
#Contact{
    height: 600px;
    padding: 40px;
}
.contact_box{
    flex-direction: column;
}